@media only screen and (max-width: 1250px), only screen and (max-height: 800px) {
    body, html{
        height: 100%;
    }
    .container{
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
    .ctn-menu{
        border-radius: 0 20px 20px 0;
    }
    .ctn-info{
        border-radius: 0;
    }
}
@media only screen and (max-width: 1150px), only screen and (max-height: 720px) {
    .animated-bg{
        display: none;
    }
    .container{
        flex-direction: row-reverse;
        position: relative;
        justify-content: center;
    }
    .ctn-menu {
        border-radius: 0;
        position: absolute;
        justify-content: start;
        right: 0;
        width: 250px;
        height: 100%;
        display: none;
        z-index: 99;
    }
    .ctn-menu-responsive{
        z-index: 100;
        display: flex !important;
        background-color: black;
    }
    .ctn-info{
        width: 100%;
    }
    .ctn-img-redes{
        height: 30%;
    }
    .ctn-submenu{
        height: 55%;
    }
    .contenedores{
        padding: 0;
    }
    .ctn-inicio {
        padding: 15px;
    }
}

@media only screen and (max-width: 860px){
    .btns-ap{
        padding: 25px 0;
    }
    .ctn-info{
        height: 100%;
        background: var(--blue-one);
    }
    .ctn-subtitle{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 10px;
    }
    .sub-ctn-right-datos, .ctn-skills,.ctn-datos-personales{
        width: 100%;
    }
    .sub-title{
        width: 95%;
        font-size: 14px;
    }

    .sub-ctn-ambos{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        padding: 0;
        height: fit-content;
        overflow-y: visible;
    }

    .ctn-descripcion-datos{
        width: 100%;
    }

    .ctn-right{
        width: 100%;
        padding: 0;
        position: static;
    }
    .item-info{
        width: 56%;
    }

    .sub-ctn-title{
        position: sticky;
        top: -20px;
        z-index: 11;
        background: var(--blue-one);
    }
    .p-s{
        position: sticky;
        top: 40px;
        background: var(--blue-one);
        z-index: 10; /* Para asegurarte de que el título esté encima del contenido */
        padding: 10px 0;
        border-bottom: 1px solid #ddd; /* Opcional, solo para separar visualmente */    
    }
    .sub-contenedor{
        overflow-y: auto;
    }
}