@media only screen and (max-width: 1250px), only screen and (max-height: 800px) {
    body, html{
        height: 100%;
    }
    .container{
        height: 97%;
    }
    .ctn-menu{
        border-radius: 0 20px 20px 0;
    }
    
    .ctn-skills{
        gap: 4px;
    }
}
@media only screen and (max-width: 1150px), only screen and (max-height: 720px) {
    *{
        font-size: 12px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    .ctn-datos{
        gap: 10px;
        align-items: center;
        width: 45%;
    }
    .ctn-datos-item {
        width: 235px;
        height: 88px;
        border-radius: 6px;
    }
    .sub-title{
        font-size: 13px;
        line-height: 16px;
    }
    .ctn-menu-img img{
        border-radius: 8px 8px 0 0;
    }
    .ctn-skills{
        padding: 0;
    }
    .sub-ctn-ambos{
        padding: 5px 0 0 0;
    }
    .perfil-txt{
        font-size: 12px;
    }
    .submenu svg{
        width: 20px;
    }
    .container{
        flex-direction: row-reverse;
        position: relative;
        justify-content: center;
        max-width: 880px;
    }
    .ctn-certificados{
        gap: 20px;
    }
    .ctn-menu {
        border-radius: 0;
        position: absolute;
        justify-content: start;
        gap: 15px;
        right: 0;
        width: 280px;
        display: none;
        z-index: 99;
    }
    .ctn-menu-responsive{
        z-index: 100;
        right: 10px;
        bottom: 10px;
        display: flex !important;
        background-color: black;
    }
    .ctn-info{
        width: 100%;
    }
    .ctn-img-redes{
        width: 150px;
        height: 30%;
    }
    .ctn-submenu{
        height: 63%;
        gap: 5px 0;
    }
    .contenedores{
        padding: 0;
    }
    .ctn-inicio {
        padding: 15px;
    }
}

@media only screen and (max-width: 900px){
    .ctn-certificados{
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 860px){
    .btns-ap{
        padding: 25px 0;
    }
    .ctn-info{
        height: 100%;
        background: var(--blue-one);
    }
    .ctn-subtitle{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 10px;
    }
    .sub-ctn-right-datos, .ctn-skills{
        width: 100%;
    }
    .sub-title{
        width: 95%;
        font-size: 14px;
    }
    .sub-ctn-ambos{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        padding: 0;
        height: fit-content;
        overflow-y: visible;
    }
    .ctn-descripcion-datos{
        width: 100%;
    }
    .ctn-right{
        width: 100%;
        padding: 0;
        position: static;
    }
    .item-info{
        width: 56%;
    }
    .sub-ctn-title{
        position: sticky;
        top: -20px;
        z-index: 11;
        background: var(--blue-one);
    }
    .p-s{
        position: sticky;
        top: 40px;
        background: var(--blue-one);
        z-index: 10; /* Para asegurarte de que el título esté encima del contenido */
        padding: 10px 0;
        border-bottom: 1px solid #ddd; /* Opcional, solo para separar visualmente */    
    }
    .sub-contenedor{
        overflow-y: auto;
    }
}

@media only screen and (max-width: 600px){
    .ctn-datos,.contact-form{
        width: 100%;
    }
    #contacto-content .sub-ctn-ambos{
        padding: 20px 0;
        flex-direction: column;
    }
}
@media only screen and (max-width: 500px){
    .ctn-certificados{
        padding: 0;
    }
    .certificado-item{
        width: 100%;
        max-width: 350px;
    }
}
